<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> {% block title %} {% endblock %}</title>
    <!-- jQuery --->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Source Pro Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Load Static from project -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <link rel="shortcut icon" href=" {%  static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{%  static 'favicon.ico' %}" type="image/x-icon">

</head>

<body>
    <header>




        <div class="container-fluid">
            <div class="row">

                    <!-- navbar --->
                    <h1 class="title-global"><a href="/">Vlagoidis Nikolaos <i class="fa fa-home" ></i></a></h1>
                    <nav>

                        <ul>
                            <li><a href="/about">[About Me] <i class="fa fa-user "></i> </a>
                            </li>
                            <li><a href="/portfolio">[Portfolio] <i class="fa fa-code" aria-hidden="true"></i></a></li>
                            <li><a href="#">[Blog] <i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#">[Log In] <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                        </ul>


                    </nav>

            </div>
        </div>

    </header>
    <!-- Content --->
    <div class="container-fluid">
        <div class="row">
            <div class=" col-xs-8  col-xs-offset-2">

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>


</body>
<!-- Footer --->
{% block footer %}
<div class="navbar-fixed-bottom">
    <div class="container">
        <hr>
        <p class="navbar-text pull-left">
          © 2016 - Contact
        <a href="mailto:nikosvlagoidis@gmail.com" style="text-decoration:none"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>

        <a href="https://github.com/NikosVlagoidis" target="_blank" style="text-decoration:none" > <i class="fa fa-github fa-lg" aria-hidden="true"></i> </a>
</p>
    </div>
</div>
{% endblock %}

</html>
