{% extends "base.html" %}
 {% block title %}Nikolaos Vlagoidis | {{Category_name}} {% endblock %}



 {% block content %}


 <button type="button" class="btn btn-link" onclick="goBack()" style="color:white"> << Go Back </button>


            <h1 style="text-align:center"> <font size="6"> <u>{{Category_name}}</u> </font> </h1>
            {% for entry in entries %}
                <p>
                <!--Link to detail view -->
                <a href="{%url 'entry_detail' entry.slug %}">
                  <font size="2"> {{ entry.title }} </font>
                </a>
                </p>

            {% endfor %}


            <script>
            function goBack() {
            window.history.back();
            }
            </script>

{% endblock %}
