{% extends "base.html" %} {% block title %}Nikolaos Vlagoidis | {{Category_name}} {% endblock %} {% block content %}




            <h1><u>{{Category_name}}</u> </h1>
            {% for entry in entries %}
                <p>
                <!-- every entry -->
                <button class="btn btn-default" data-toggle="collapse" data-target="#{{ entry.slug }}"> {{ entry }}</button>
                <div id="{{ entry.slug }}" class="collapse">
                  <u>Short Description</u>
                  <p>
                    {{ entry.short_description }}
                  </p>
                  <u>Technologies Used</u>
                  <p>
                    {{ entry.technologies}}
                  </p>
                </div>

                <!--Link to detail view -->
                <a href="{%url 'entry_detail' entry.slug %}">
                  <font size="5"> {{ entry.title }} </font>
                </a>
                </p>


            {% endfor %}

{% endblock %}
